#headerBar{
	width: 100%;
	height: 30px;
	background: black;
}

#header p{
	color: white;
}

#header a{
	font-weight: bold;
	color: white;
}

#boldHeader{
	font-weight: bold;
}

a {
	font-weight: bold;
	color: white;
}

#headerRight{
	float: right;
}

#searchBar{
	height: 20px;
	background: black;
	text-align: center;
	padding: 15px;
	float: left;
	width: 230px;
	height:100%;
}

#sidebar{
	width: 270px;
	float: left;
}

#searchButton{
	background:#ca0000;
	color: white;
	
}

#searchfunc{
float:left;
}

.sideNav{
	background: #333333;
	height:390px;
	width:260px;
	float:left;
}

.navLink{
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:20px;
	color: #ffffff;
	cursor:pointer;
}

#browse:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
	
}

#hot:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

#new:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

#act:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

#fps:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

#mmoRpg:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

#board:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

#card:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat;
}

.altSideNav{
	height:350px;
	width:260px;
	float:left;
	background:#111111;
}

.altLink{
	text-align:center;
	display:table;
}

.altLink a{
	padding:10px;
	text-decoration:none;
}

#altLinkAbout{
		
}

#featureImg{
	float:right;
	padding-right:850px;
	padding-top:700px;
}

#featureImg img{
	height:380px;
	width:700px;
}

#nav a { border: 1px solid #ccc; background:gray; text-decoration: none; margin: 0 5px; padding: 3px 5px; float:right;}
#nav a.activeSlide { background: #b9b9b8;}

#mainContentArea{
width:900px;
float:right;}

#appView{
	min-width:1200px;
}




