#headerBar{
	width: 100%;
	height: 30px;
	background: #333333;
	word-spacing:2px;
	padding-top:6px;
}

#header p{
	color: white;
}

#header a{
	font-weight: bold;
	color: white;
}

#boldHeader{
	font-weight: bold;
}

a {
	font-weight: bold;
	color: white;
}

#headerRight{
	float: right;
}

#searchBar{
	height: 20px;
	background: black;
	text-align: center;
	padding: 15px;
	float: left;
	width: 230px;
	height:100%;
}

#sidebar{
	width: 270px;
	float: left;
}

#searchButton{
	background:#c50000;
	color: white;
	border-color:#980000;
}

#searchfunc{
float:left;
}

.sideNav{
	background: #333333;
	height:390px;
	width:260px;
	float:left;
}

.navLink{
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:20px;
	color: #ffffff;
	cursor:pointer;
	text-align:right;
	width:110%;
}

#browse:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#hot:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#new:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#act:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#fps:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#mmoRpg:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#board:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

#card:hover{
	background:url(link_sidebar_mouseover.gif) no-repeat left center;
	text-align:center;
}

.sidebarLineAdjust{
}

.altSideNav{
	height:350px;
	width:260px;
	float:left;
	background:#111111;
}

.altLink{
	text-align:center;
	display:table;
}

.altLink a{
	padding:10px;
	text-decoration:none;
}

#altLinkAbout{
		
}

#featureImg{
	float:left;
	padding-right:850px;
	height:485px;
}

#featureImg img{
	height:400px;
	width:950px;
	padding-top:40px;
	float:left;
}

#nav a { border: 1px solid #ccc; background:gray; text-decoration: none; margin: 0 5px; padding: 3px 5px; float:right;}
#nav a.activeSlide { background: #b9b9b8;}

#mainContentArea{
width:900px;
float:right;}

#appView{
	min-width:1200px;
}

.overflow{
	overflow:visible;
}

.linkPad{
	padding-right:40px;
	float:right;
}

.altLinkAlign{
	text-align:left;
}

.productListItem{
	padding:5px;
}

#productListItemDetButton{
	width:40%;
	height:90%;
	float:left;
	padding-top:8px;
}

#productListItemPrice{
	float:right;
	color:#333333;
	padding-top:8px;
	padding-right:15px;
}

#productListItemName{
	padding-top:8px;
	text-align:center;
	color:red;
}

#productListItemImg{
	padding-left:60px;
}

#mainContentAdjust{
	float:left;
	padding-left:25px;
}




