@charset "utf-8";
/* CSS Document */

body {
	background: white;	
}

#appPreview, #appView {
	background: white;
	margin: 0px auto;
	width: 1020px;	
}


/*************************

PERSISTENT CONTENT

*************************/

/*************************************************************************************

HEADER

*************************************************************************************/

.topNavLinkStyle {
	color: white;
	text-decoration: none;
	font-family: "Arial Black", Gadget, sans-serif;
}

.topNavLinkStyle:hover {
	color: white;
	text-decoration: underline;
	font-family: "Arial Black", Gadget, sans-serif;
}

.topNav {
	height: 35px;
	background: #a3033d;
	margin-left: auto;
  	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;	
	color: white;
}

#welcome {
	margin-top: 10px;
	margin-left: 25px;
	float: left;	
}

.itemsInCart {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;	
}

#cart {
	margin-top: 10px;
	margin-right: 25px;
	float: right;	
}

.logoSearchContainer {	
	background: white;
	height: 100px;
	width:95%;
	margin-left: auto;
  	margin-right: auto;
	padding-top: 50px;
}

#logo {
	float: left;	
}

.searchBarContainer {
	margin-top: 6px;
	float: right;
	height: 20px;	
}

#searchBar {
	height: 29px;
	width: 275px;
}	

#searchButton {
	float: right;
	height: 35px;
	width: 100px
	text-align: center;
	font-weight: bold;
	background: #a3033d;
	border: 0 none;
	color: white;
}

.mainNavContainer {
	background: white;
	width:95%;
	margin-left: auto;
  	margin-right: auto;
}

.mainNavLink {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: 	#a3033d;
	height: 31px;
	width: 16.66%;
	padding-top: 10px;
	float: left;
}

#browse:hover {
	color: white;
	background: #a3033d;	
}

.mainBannerContainer {
	width: 95%;
	height: 295px;
	margin-left: auto;
  	margin-right: auto;
}

.mainBannerGraphic {
	width: 72.5%;	
	height: 295px;
	float: left;
}

#arrowLeft {
	float: left;
}

#arrowRight {
	float: right;
}

.mainBannerNewsletter {
	background-color: #ce004e;
	width: 27.5%;
	height: 295px;
	float: right;
	text-align: center;
	color: white;
}

#scoop {
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;	
}

#latest {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.headerNewsletterSignUpContainer {
	width: 95%;
	heigth: 75px;
	background: #ce004e;
	margin-right: auto;
	margin-left: auto;	
}

.headerSubscribeFrm {
	height: 29px;
	width: 230px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#headerSignUpButton {
	height: 35px;
	width: 70px;
	text-align: center;
	background: #a3033d;
	border: 0 none;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

#followUs { 
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;	
}

.socialIconContainer {
	height: 50px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;	
}

#facebook {
	float: left;
	width: 25%;	
}

#twitter {
	float: left;
	width: 25%;	
}

#youtube {
	float: left;
	width: 25%;	
}

#tumbler {
	float: left;
	width: 25%;	
}

.catagorySelectNavContainer {
	background-color: white;
	width: 92%;
	height: 110px;
	padding-top: 15;
	margin-left: auto;
  	margin-right: auto;
}


/*************************************************************************************

FOOTER

**************************************************************************************/


.footerNewsletter {
	background: #ce004e;
	height: 60px;
	width: 95%;	
	margin-left: auto;
  	margin-right: auto;
	padding-bottom: 10px;
}

#upToDate {
	color: white;
	padding-top: 25px;
	padding-left: 40px;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;	
}

.footerFieldContainer {
	width: 565px;
	float: right;	
}

.footerFormFrm {
	height: 29px;
	width: 240px;
	margin-top: 0px;
}

.footerSubscribeFrm {
	height: 29px;
	width: 220px;
	margin-top: 16px;
}

.footerNameBar{
	float: left;
	width: 240px;
	background: #ce004e;	
}

.footerEmailBar{
	float: left;
	width: 240px;
	background: #ce004e;
}

.footerButtonContainer {
	margin-top: 16px;
	float: left;
	width: 80px;	
}

#footerSignUpButton {
	height: 35px;
	width: 70px;
	text-align: center;
	background: #a3033d;
	border: 0 none;
	color: white;
	margin-top: 0px;
	margin-right: 10px;
	float: right;
}

.footerLinkStyle {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.footerLinkStyle:hover {
	color: white;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}

#footerLinks {
	background: #a3033d;
	height: 300px;
	width: 95%;	
	margin-left: auto;
  	margin-right: auto;
}

.listHead {
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;	
}

.bottomLinkListContainer {
	float: left;
	width:25%;	
	padding: 5px;
}

.bottomLinkList {
	list-style-type: none;
	color: white;	
	font-family: Arial, Helvetica, sans-serif;
}

#catagories { 
	float: left; 
	width: 23%;
	padding: 5px;
}

#help {
	float: left; 
	width: 23%;
	padding: 5px;
}

#myaccount {
	float: left; 
	width: 23%;
	padding: 5px;
}

#morefashion {
	float: left; 
	width: 23%;	
	padding: 5px;
}

#footerInformation {
	padding-top: 20px;
	height: 35px;
	width: 100%;
	text-align: center;
	color: #a3033d;
}

#footerInformation a {
	color: black;	
}


/*************************************************************************************

NON PERSISTEN CONTENT

*************************************************************************************/

.prodDesc {
	height: 50px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	color: #a3033d;	
}

.prodMfg {
	height: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	color: #b1ad8f;				
}

.productList li { 
	float: left;
	height: 300px;
	width: 20%;
	margin: 25px;
}

.pointer {
	margin-left: auto;	
	margin-right: auto;
}

.prodThumbContainer {
	height: 120px;
	margin-left: auto;	
	margin-right: auto;
}

.priceDetail {
	margin-top: 20px;		
}

.superscript {
	vertical-align: super;
	font-size: 13px;	
}

.price {
	width: 50%;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
	color: 	#b1ad8f;
	text-align: center;
	font-size: large;
	padding-top: 9px;
}

.detailButton {
	width: 50%;
	float: right;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size-adjust: 80%;
	color: white;
	background-color: #b1ad8f;	
}







