@charset "utf-8";
/* CSS Document */

body {
	background: white;	
}

#appPreview, #appVeiw {
	background: white;
	margin: 0px, auto;
	width: 900px;	
}


/*************************

PERSISTENT CONTENT

*************************/

/*************************

HEADER

*************************/

#topNav {
	height: 30px;
	background: #a3033d;
	padding-top:8px;
	padding-left: 3em;
}

#topNav p {
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;	
}

#logo {
	margin-left: 40px;
	padding-top: 40px;	
}

#searchBar {
	height: 20px;
	background: white;
	text-align: center;
	margin-right: 40px;
	padding-top: 60px;
	float: right;
	width: 230px;
	height:100%;
}

#searchButton {
	height: 20px;
	text-align: center;
	background: #a3033d;
	border: 0 none;
	color: white;
}

.mainNav {
	padding-top: 50px;
	padding-left: 20px;
	background: white;
	height: 50px;
}

.mainNavLink {
	font-family: "Arial Black", Gadget, sans-serif;
	padding-top: 15px;
	text-align: center;
	color: 	#a3033d;
	width: 210px;
	height: 35px;
}

#browse:hover {
	color: white;
	background: #a3033d;	
}

.mainBannerContainer {
	
	width: 95%;
	height: 300px;
	margin-left: auto;
  	margin-right: auto;
}

.mainBannerGraphic {
	background-color: blue;
	width: 75%;	
	height: 300px;
	float: left;
}

.mainBannerNewsletter {
	background-color: black;
	width: 25%;
	height: 300px;
	float: right;
}


/*************************

FOOTER

*************************/


#footerNewsletter {
	background: #ce004e;
	height: 60px;
	width: 95%;	
	margin-left: auto;
  	margin-right: auto;
	padding-bottom: 10px;
}

#upToDate {
	color: white;
	padding-top: 25px;
	padding-left: 40px;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;	
}



#nameBar{
	height: 10px;
	background: #ce004e;
	text-align: center;
	padding-top: 22px;
	padding-right: 25px;
	float: right;
	width: 230px;	
}

#emailBar{
	height: 20px;
	background: #ce004e;
	text-align: center;
	padding-top: 22px;
	float: right;
	width: 200px;
}

#footerLinks {
	background: #a3033d;
	height: 300px;
	width: 95%;	
	margin-left: auto;
  	margin-right: auto;
}

.listHead {
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;	
}

.bottomLinkListContainer {
	float: left;
	width:25%;	
	padding: 5px;
}

.bottomLinkList {
	list-style-type: none;
	color: white;	
	font-family: Arial, Helvetica, sans-serif;
}

#catagories { 
	float: left; 
	width: 23%;
	padding: 5px;
}

#help {
	float: left; 
	width: 23%;
	padding: 5px;
}

#myaccount {
	float: left; 
	width: 23%;
	padding: 5px;
}

#morefashion {
	float: left; 
	width: 23%;	
	padding: 5px;
}

#footerInformation {
	padding-top: 20px;
	height: 35px;
	width: 100%;
	text-align: center;
	color: #a3033d;
}

#footerInformation a {
	color: black;	
}


/********************************

NON PERSISTEN CONTENT

********************************/

.prodDesc {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	color: #a3033d;	
}

.prodMfg {
	margin-bottom: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	color: #b1ad8f;				
}

.productList li { 
	float: left;
	width: 20%;
	margin: 20px;
}

.pointer {
	margin-left: auto;	
	margin-right: auto;
}

.prodThumbContainer {
	margin-left: auto;	
	margin-right: auto;
}

.priceDetail {
	margin-top: 20px;		
}

.superscript {
	vertical-align: super;
	font-size: 13px;	
}

.price {
	width: 50%;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
	color: 	#b1ad8f;
	text-align: center;
	font-size: large;
	padding-top: 9px;
}

.detailButton {
	width: 50%;
	float: right;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size-adjust: 80%;
	color: white;
	background-color: #b1ad8f;	
}







