@font-face {
				font-family: 'Gotham-Black';
				src: url('gothamblack.eot');
				src: url('gothamblack.eot?#iefix') format('embedded-opentype'),
						 url('gothamblack.woff') format('woff'),
						 url('gothamblack.ttf') format('truetype'),
						 url('gothamblack.svg#gothamblack') format('svg');
				font-weight: normal;
				font-style: normal;
		}